<div id="details-container">
  <div *ngIf="course;else noCourse">
    Selected Course
    <div>
      <span class="label">Id:</span>
      <span class="value">{{course.id}}</span>
    </div>
    <div>
      <span class="label">Name:</span>
      <span class="value">{{course.name}}</span>
    </div>
    <div>
      <span class="label">Title:</span>
      <span class="value">{{course.title}}</span>
    </div>
    <div *ngIf="course.available_offline">
      <a [routerLink]="['/courses',course.offline_title]">View Offline Data</a>
    </div>
    <div *ngIf="course.available_online">
      <a [routerLink]="['/courses',course.online_title]">View Online Data</a>
    </div>
  </div>
  <ng-template #noCourse>
    <div id="no-course-content">No Course Selected</div>
  </ng-template>

</div>
