#courses-app-container {
  height: 100%;
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
  display: flex;
}

.content {
  width: 50%;
}

.card {
  margin: 8px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.06);
  background-color: #fff;
}
